# Visual Studio
.vs/
bin/
obj/

# VS Code
.vscode/

# Node
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.*

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Rider
.idea/

# Coverage
coverage/